@import '../../vars.css';

.container{
    margin-top: 70px;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 100px;
    color: var(--color-text);
}

.title{
    text-align: center;
    color: var(--color-title);
    font-family: var(--font-playfair);
    font-size: 50px;
}