@import '../../vars.css';

.container{
    margin-top: 50px;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    color: var(--color-text);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title{
    color: var(--color-title);
    font-family: var(--font-playfair);
    font-size: 50px;
}

.skilllist{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

@media  screen and (max-width: 830px) {

    .skilllist{
        flex-direction: column;
    }

}