@import '../../vars.css';

.navbar{
    color: var(--color-text);
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    z-index: 2;
    margin: 0 10%;
}
  
.title{
    color: var(--color-title);
    font-size: 60px;
    font-weight: 600;
    font-family: var(--font-playfair);
    letter-spacing: 1.75px;
    text-decoration: none;
}

.menuBtn{
    display: none;
}

.menu{
    display: flex;
    cursor: pointer;
}

.mode{
    display: none;
    height: 50px;
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    0% {
        rotate: 0deg;
    }
    25%{
        rotate: 90deg;
    }
    50%{
        rotate: 180deg;
    }
    75%{
        rotate: 270deg;
    }
    100%{
        rotate: 360deg;
    }
}

.menuItems{
    display: flex;
    align-items: center;
    gap: 47px;
    list-style: none;
}

.menuItems a{
    display: inline-block;
    position: relative;
    font-size: 30px;
    color: var(--color-text);
    text-decoration: none;
    font-family: var(--font-mont);
}

.menuItems a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.menuItems a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media  screen and (max-width: 830px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .menu{
        position: absolute;
        right: 0;
        margin-right: 2%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }

    .menuBtn{
        display: block;
        cursor: pointer;
        margin-top: 25px;
    }

    .menuItems{
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        border-radius: 10px;
        background: rgb(25,55,109);
        background: linear-gradient(0deg, 
        rgba(0,0,0,1) 0%,
         rgba(0,0,0,1) 100%);
        padding: 24px 30px;
        box-shadow: 0 0 10px 0 rgba(233,255,9,0.5);
    }

    .menuOpen {
        display: flex;
        z-index: 1;
    }
}