@import "../../../vars.css";

.wrapper{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: max-content;
    height: max-content;
    border-radius: 25px;
}

.wrapper img{
    width: 350px;
    height: 200px;
    border-radius: 25px;
}

.projecttitle{
    font-family: var(--font-mont);
}

.projectinfo{
    font-family: var(--font-poppins);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    font-size: 20px;
    flex-wrap: wrap;
}