@import "../../../vars.css";

.container{
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
}

.namescontain{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    margin-left: 3vh;
}

.content{
    margin: 10px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.img{
    width: 20vh;
    margin-bottom: 5px;
}

.title{
    margin-top: 10px;
    color: var(--color-highlight);
    font-size: 35px;
    font-family: var(--font-open);
}

.content h2{
    font-family: var(--font-poppins);
    font-size: 28px;
}

@media  screen and (max-width: 830px) {

    
    .img{
        width: 10vh;
        margin-bottom: 5px;
    }

    .title{
        font-size: 18px;
    }

    .content h2{
        font-size: 15px;
    }

    .namescontain{
        flex-direction: row;
    }

    .container{
        margin: 0%;
    }

    .content{
        margin: 5px 5px 5px 5px;
    }
}