@import '../../vars.css';

.container{
    margin-top: 70px;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    color: var(--color-text);
}

.title{
    text-align: center;
    color: var(--color-title);
    font-family: var(--font-playfair);
    font-size: 50px;
    margin-bottom: 20px;
}

.content{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}

.content h3{
    margin-top: 20px;
    font-size: 35px;
    font-family: var(--font-mont);
    margin-bottom: 5px;
}

.content p{
    padding-right: 5px;
    font-size: 20px;
    font-family: var(--font-poppins);
}

.aboutItems{
    margin-top: 15px;
    display: flex;
    gap: 20px;
    list-style: none;
}

.aboutItems li a{
    color: var(--color-wood);
    font-size: 27px;
    font-family: var(--font-mont);
    text-decoration: none;
    position: relative;
}

.aboutItems li a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-highlight);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.aboutItems li a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.exp{
    margin-top: 10px;
    margin-left: 15px;
}

.exp h4{
    font-size: 30px;
    font-weight: 500;
    font-family: var(--font-poppins);
}

.exp h5{
    font-size: 20px;
    font-family: var(--font-mont);
}

.exp button{
    margin-top: 15px;
    font-size: 20px;
    border-radius: 20px;
    padding: 5px 10px;
    font-family: var(--font-mont);
    background-color: var(--color-wood);
}


.edu{
    margin-top: 10px;
}

.aboutImg{
    margin-top: 20px;
    margin-right: 10px;
    width: 40%;
    height: 70%;
    border-radius: 45px;
}

@media screen and (max-width: 830px) {
    .container{
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
    }

    .content{
        flex-direction: column;
    }

    .aboutImg{
        display: none;
    }
}